<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.sec.android.app.music.overlay.hawst" platformBuildVersionCode="21" platformBuildVersionName="5.0-G900FDXXU1BOJ1">
    <overlay android:priority="100" android:targetPackage="com.sec.android.app.music"/>
    <meta-data android:name="rom" android:value="TW 5.0 BOF1 SER"/>
    <meta-data android:name="infoShort" android:value="Make SamsungMusic app not full screen"/>
    <meta-data android:name="infoLong" android:value="Make SamsungMusic app not full screen by HAWst"/>
    <meta-data android:name="author" android:value="HAWst"/>
</manifest>