<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="touchwiz" platformBuildVersionCode="21" platformBuildVersionName="5.0.1-I9505XXUPQG1">
    <permission-group android:name="android.permission-group.COST_MONEY"/>
    <uses-permission android:name="com.sec.android.app.twdvfs.DVFS_BOOSTER_PERMISSION"/>
    <application android:allowClearUserData="false" android:hasCode="false" android:persistent="true" android:process="system"/>
</manifest>